<% unless survey_completed?(current_user, @survey) %>
<%= form_tag('/responses', :method => :post) do %>
  <ol>
  <% @survey.questions.each do |question| %>
    <%= content_tag(:li, label_tag(:question, question.content)) %>
      <% if question.question_type == 'radio_button' %>
        <ol>
        	<% question.answers.each do |answer| %>
        	  <%= content_tag_for(:li, answer) do %>
        	  <%= radio_button_tag "response[#{question.id}][answer_id]", "#{answer.id}", :checked => true %>
        	  <%= label_tag :answer, answer.content %>
        	  <% end %>
        	<% end %>
  	    </ol>
      <% end %>

      <% if question.question_type == 'checkbox' %>
        <ol>
          <% question.answers.each do |answer| %>
            <%= content_tag_for(:li, answer) do %>
            <%= check_box_tag "response[#{question.id}][answer_id]", "#{answer.id}", :checked => true %>
            <%= label_tag :answer, answer.content %>
            <% end %>
          <% end %>
        </ol>
      <% end %> 

      <% if question.question_type == 'free_response' %>
        <%= text_area_tag "response[#{question.id}][content]", nil, :rows => 3, :cols => 40 %>
      <% end %> 

  <% end %>
  </ol>

  <%= submit_tag "Submit My Answer" %>
<% end %>

<% else %>

<h4> No new surveys at this time, but feel free to speak your mind in the suggestion box! </h4>

<% end %>
